@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400&family=Montserrat:wght@300;400;500&family=Noto+Serif:wght@700&family=Poppins:wght@400;500&display=swap');

:root{
    /* colors */
    --primary__color: #ff8c00;
    --gray__color: #8d8d8d;
    --accent-color: #338FFF;
    --dracula-black: #2d3436;

    /* font-family */
    --lora__font: 'Lora', serif;
    --noto__font: 'Noto Serif', serif;
    --Mont__serat: 'Montserrat', sans-serif;
    --Poppinss: 'Poppins', sans-serif;
}


/* global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Poppinss);
}
body{
    overflow-x: hidden;
}

:before,:after{
    box-sizing: border-box;
}


a{
    text-decoration: none !important;
}

dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 0!important;
}

li{
    list-style: none;
}

h1{
    font-size: 3em;
    line-height: 1.05em;
}
h2{
    font-size: 2.2em;
    line-height: 1.25em;
}
h3{
    font-size: 1.75em;
    line-height: 1.25em;
}
h4{
    font-size: 1.25em;
    line-height: 1.22222em;
}
p{
    font-size: 1em;
    line-height: 1.375em;
}
a{
    font-size: 1em;
    line-height: 1.375em;
}

.btn:focus{
    box-shadow: none!important;
}
.heading {
    margin-bottom: 3em;
}

.heading h2{
    font-weight: 700;
    color: var(--primary__color);
    font-family: var(--noto__font)!important;
}
.heading h2 span{
    color: var(--dracula-black);
    font-family: var(--lora__font);
    font-weight: 600;
}

.heading p{
    color: var(--dracula-black);
}
button:focus,
input:focus
.btn:focus
{
    box-shadow: none!important;
}

.btn.orange{
    border: 1px solid var(--primary__color);
    border-radius: 0px;
    color: var(--primary__color);
    transition: 0.3s ease-in;
    font-weight: 500;
}

.btn.orange:hover{
    color: #fff;
    background-color: var(--primary__color);
}

.line-dash{
    height: 1px;
    width: 100%;
    margin: .5rem 0;
    background-color: rgba(0, 0, 0, 0.185);
}
/* navigation start */

.b-container{
    max-width: 1200px;
    margin: auto;
}

.b-row{
    display: flex;
    flex-wrap: wrap;
}

.v-center{
    align-items: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*header*/
.header{
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.479);
}
.header .item-left{
    flex: 0 0 17%;
}
.header .logo a{
    font-size: 30px;
    color: #000000;
    font-weight: 700;
}

.header .item-center{
     flex: 0 0 66%;
}

.header .item-right{
    flex: 0 0 17%;
    display: flex;
    justify-content: flex-end;
    overflow-x: none;
}

.header .item-right a{
    text-decoration: none;
    font-size: 16px;
    color: #555555;
    display: inline-block;
    margin-left: 10px;
    transition: color 0.3s ease;
    margin-left: 0!important;
}


.header .menu > ul > li{
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;
}

.header .menu > ul > li > a{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    position: relative;
    text-transform: capitalize;
    transition: 0.5s ease;
}

.header .menu > ul > li > a.add-listing-link{
    font-weight: 600;
}

.header .menu > ul > li > a:hover > i{
    transform: rotate(180deg);
}


.header .menu > ul > li .sub-menu{
    position: absolute;
    z-index: 500;
    background-color: #fff;
    box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3);
    padding: 20px 30px;
    transition: all 0.3s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
}

.header .item-right .dropdown-menu{
    background-color: #fff;
    border: none!important;
    box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3);
    border-radius: 0;
    padding: 1rem 2rem;
}

.header .item-right .dropdown-menu a{
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 300!important;
}


@media(min-width: 992px){
    .header .menu > ul > li.menu-item-has-children:hover .sub-menu{
    margin-top: 0;
    visibility: visible;
    opacity: 1;
    }
}


.header .menu > ul > li .sub-menu > ul > li{
    line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
    text-decoration: none;
}

.header .menu > ul > li .single-column-menu{
    min-width: 280px;
    max-width: 350px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
    line-height: 1;
    display: block;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{
    left: 50%;
    transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
}


.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item{
    flex: 0 0 25%;
    padding: 0 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item .title{
    font-size: 16px;
    color: #ea4636;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item.text-center .title{
    text-align: center;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item img{
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
    color: #ea4636;
}

/*banner section*/
.banner-section{
    background-image: url('../img/5.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: block
}

.mobile-menu-head,
.mobile-menu-trigger{
    display: none;
}
/*responive*/


@media(max-width: 991px){
    .header .item-center{
        order: 3;
        flex: 0 0 100%;
    }
    .header .item-left,
    .header .item-right{
        flex: 0 0 auto;
    }
    .v-center{
        justify-content: space-between;
    }
    .header .mobile-menu-trigger{
        display: flex;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
    .header .mobile-menu-trigger span{
        display: block;
        height: 2px;
        background-color: #333333;
        position: relative;
        width: 24px;
    }
    .header .mobile-menu-trigger span:before,
    .header .mobile-menu-trigger span:after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333333;

    }

    .header .mobile-menu-trigger span:before{
        top: -6px;
    }
    .header .mobile-menu-trigger span:after{
        top: 6px;
    }

    .header .item-right{
        align-items: center;
}
    .header .menu{
        position: fixed;
        width: 320px;
        background-color: #ffffff;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }

    .header .menu.active{
        transform: translate(0%);
    }

    .header .menu > ul > li{
        line-height: 1;
        margin: 0;
        display: block;
    }
    .header .menu > ul > li > a{
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .header .menu > ul > li > a > i{
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }
   .header .menu .mobile-menu-head{
        display: flex;
       height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
       justify-content: space-between;
       align-items: center;
       position: relative;
       z-index: 501;
       position: sticky;
       background-color: #ffffff;
       top: 0;
    }
    .header .menu .mobile-menu-head .go-back{
        height: 50px;
        width: 50px;
        border-right: 1px solid rgba(0,0,0,0.1);
        line-height: 50px;
        cursor: pointer;
        text-align: center;
        color:#000;
        font-size: 16px;
        display: none;
    }

    .header .menu .mobile-menu-head.active .go-back{
        display: block;
    }
    .header .menu .mobile-menu-head .current-menu-title{
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }
    .header .menu .mobile-menu-head .mobile-menu-close{
         height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0,0,0,0.1);
        line-height: 50px;
        cursor: pointer;
        text-align: center;
        color:#000;
        font-size: 25px;
    }

    .header .menu .menu-main{
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 0;
}
    .header .menu > ul > li > .sub-menu.mega-menu,
    .header .menu > ul > li > .sub-menu{
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }

    .header .menu > ul > li > .sub-menu.active{
        display: block;
    }

/* keyframes start*/
    @keyframes slideLeft{
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }

     @keyframes slideRight{
        0%{
            opacity: 1;
            transform: translateX(0%);
        }
        100%{
            opacity: 0;
            transform: translateX(100%);
        }
    }
/* keyframes end*/
    .header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item img{
        margin-top: 0;
    }

    .header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item.text-center .title{
        margin-bottom: 20px;
    }

    .header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item.text-center:last-child .title{
        margin-bottom: 0px;
    }

    .header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item{
        flex: 0 0 100%;
        padding: 0;
    }

    .header .menu > ul > li .sub-menu > ul > li > a,
    .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
        display: block;
    }

    .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
        margin-bottom: 15px;
    }

    .menu-overlay{
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .menu-overlay.active{
        visibility: visible;
        opacity: 1;
    }

}

/* navigation end */
/* hero section */

.h-hero{
    position: relative;
    background-image:linear-gradient(rgba(51, 143, 255, 0.274),rgba(51, 143, 255, 0.219)), url("/img/bg/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

.h-hero .hero-text{
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.h-hero h2{
    color: #fff;
    font-family: var(--lora__font);
    text-align: center;
    font-weight: 500;
}

.h-hero h2 span{
    color: var(--primary__color);
    font-family: var(--noto__font);
}

.h-hero p{
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 1.1em;
}
.h-hero form{
    position: relative;
    flex: auto;
    max-width: 650px;
    margin: auto;
}

.h-hero form input{
    outline: none;
    border: none;
    border-radius: 30px;
}
.h-hero form input::placeholder{
    font-size: .9em;
}

.h-hero form button{
    position: absolute;
    padding: 6px;
    line-height: 1em;
    top: 2.4px;
    right: 5px;
    background: #ffa333;
    border-radius: 30px;
}
.h-hero form button:hover{
    background-color: var(--accent-color);
}
.h-hero form button i{
    color: #fff;
}

.h-hero  a{
    color: #fff;
    padding: 0;
    margin: 0;
    transition: 0.3s ease-in;
}
.h-hero  a:hover{
    color: var(--primary__color);
    padding: 0;
    margin: 0;
}


/* how it works */
.howitwork{
    padding: 4rem 0;
}

.howitwork .work-box{
    padding: 1rem;
    text-align: center;
    transition: .3s ease-in;
}

.howitwork .work-box:hover .icon-box i{
    background-color: var(--primary__color);
    color: #fff;
}
.howitwork .work-box .icon-box{
    margin-bottom: 1.2em;

}

.howitwork .work-box .icon-box i{
    background-color: #fff;
    color: var(--primary__color);
    padding: .7em;
    border-radius: 100%;
    font-size: 1.2em;
    border: 2px solid var(--primary__color);
}
.howitwork .work-box h5{
    font-weight: 500;
    font-family: var(--lora__font);
    color: var(--primary__color);
}
.howitwork .work-box p{
    color: var(--gray__color);
}

/* listing for sale and rent */
.featured .listing{
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 300px;
}

.featured .listing-img{
    position: relative;
    overflow: hidden;
}

.featured .listing-img .heart-icon{
    position: absolute;
    top: .8em;
    right: 1em;
    color: var(--primary__color);
    font-size: 1.2em;
}
.featured .listing-img .opt-list{
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: var(--primary__color);
    font-size: .9em;
    color: #fff;
    padding: .2em .5em;
    border-radius: 4px;
}
.featured .listing-location{
    font-size: 13px;
    opacity: 0.8;
}
.featured .listing-name{
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    font-family: var(--Poppinss);
}

.featured .listing-name:hover{
    color: var(--primary__color)!Important;
}
.featured .listing-price{
    color: var(--primary__color);
}



/* property quote */


.property-quote{
    margin-top: 7em;
    background-color: rgba(223, 223, 223, 0.342);
    overflow: hidden;
}

.property-quote .q-box{
    background-image: linear-gradient(rgba(51, 143, 255, 0.274),rgba(51, 143, 255, 0.219)), url("/img/bg/pexels-sevenstorm-juhaszimrus-439391.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}


.property-quote .q-text{
    padding: 5em 2.5em ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.property-quote .q-text h2 {
    font-family: var(--noto__font);
    margin-bottom: .7em;
    color: var(--dracula-black);
}
.property-quote .q-text h2 span{
    color: var(--primary__color);
    font-family: var(--lora__font);
    font-weight: 400;
}
.property-quote .q-text p{
    width: 80%;
    color: var(--dracula-black);
    margin-bottom: 1.5rem;
}
.property-quote .q-text .request-btn{
    margin-bottom: 1em;
}


/* testimonials */
.testimonials{
    margin: 6em 0;
}

.testimonials .icon-container i{
    background-color: #fff;
    color: var(--primary__color);
    padding: .8em;
    border-radius: 100%;
    font-size: 1.5em;
    border: 2px solid var(--primary__color);
    transition: .3s ease-in;
}

.testimonials .testimonial-icon:hover .icon-container i{
    background: var(--primary__color);
    color: #fff;
}

.testimonials .testimonial-quote p{
    padding: 1rem 0 1rem 0;
    width: 70%;
    margin: auto;
    font-size: 1.1em;
    color: var(--gray__color);
    font-family: var(--lora__font);
    font-style: italic;
    font-weight: 500;
}

.testimonials .testimonial-quote p span{
    font-size: 1em;
    color: var(--primary__color);
}

.testimonials .testimonial-quote .quote-update{
    color: var(--primary__color);
    font-size: 1em;
}

.testimonials .testimonial-quote .qoute-job{
    color: var(--dracula-black);
    font-size: .8em;
}


/* counter */
.counterup{
    background-image: linear-gradient(rgba(51, 143, 255, 0.548),rgba(51, 143, 255, 0.548)), url("/img/bg/2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3em 0;
}

.counterup .counter-box .counter-icon i{
    font-size: 2em;
    color: #fff;
}

.counterup .counter-box .counter-text h4{
    color: #fff;
}

.counterup .counter-box .counter-text h2{
    font-weight: 500;
    color: #fff;
    font-size: 3em;
}
.counterup .counter-box .counter-text h2 span{
    line-height: 1.20em;
}

/* agent section */

.agent{
    padding: 6em 0 3em 0;
}

.agent .agent-text{
    padding: 5em 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.agent .agent-text h2 {
    font-family: var(--noto__font);
    margin-bottom: .7em;
    color: var(--dracula-black);
    font-weight: 700;
}
.agent .agent-text h2 span{
    color: var(--primary__color);
    font-family: var(--lora__font);
    font-weight: 400;
}
.agent .agent-text p{
    width: 80%;
    color: var(--gray__color);
    margin-bottom: 1.5rem;
}
.agent .img-agent img{
    height: 60vh;
    margin: auto;
    width: 100%;
}

/* populaer location  */

.populer-locations{
    padding:0 0 6em 0;
}

.populer-locations .img-location{
    position: relative;
}
.populer-locations .img-location img{
    height: 280px;
    width: 100%;
}

/* .populer-locations .img-location .overlay{
    position: absolute;
    background: linear-gradient(rgba(51, 143, 255, 0.322),rgba(51, 143, 255, 0.308));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.populer-locations .img-location .location-detail{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.populer-locations .img-location .location-detail h5 a{
    color: #fff;
    text-decoration: none;
}

.populer-locations .img-location .location-detail p{
    padding: .3rem .5rem;
    color: var(--primary__color);
    background: #fff;
    border-radius: 5px;
}


.populer-locations .img-location:hover .overlay{
    background: none;
    transition: 0.3s ease-in-out;
}

/* property stat  */
.container hr{
    background-color: var(--gray__color);
}
.property-locations{
    padding: 3em 0 6em 0;
}

.property-locations h4{
    font-family: var(--lora__font);
    color: var(--primary__color);
    margin-bottom: 1rem;
    font-weight: 600;
}

.property-locations .properties a{
    font-family: var(--Poppinss);
    font-weight: 500;
    color: var(--gray__color);
    line-height: 1em;
    text-decoration: none;
}

.property-locations .properties a span{
    color: var(--primary__color);
}


/* products */
.products{
    background-color: rgba(223, 223, 223, 0.342);
    padding: 2em 0;
}

.products .product-box{
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 200px;
}

.products .product-img{
    width: 100%;
    width:  130px;
}



/* footer */
.footer{
    /* background-color: #2d3436; */
    padding: 6rem 0 0 0;
}

.footer .footer-img img{
    max-width: 250px;
    margin-bottom: 1.5rem;
}

.footer .footer-header{
    margin-bottom: 1rem;
    color: #ff8c00;
}
.footer .footer-links  p{
    margin-bottom: .5rem !important;
}
.footer .footer-links  p  a{
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer .footer-links ul{
    padding-left: 0;
}
.footer .footer-links ul li{
    list-style: none;
    display: inline-block;

}
.footer .footer-links ul li a{
   text-decoration: none;
   color: #ff8c00;
}
.footer .footer-bottom{
    margin-top: 4rem;
    background-color: #2d3436;
    padding: 1rem 0;
}
.footer .footer-bottom small {
    color: #fff;
}
.footer .footer-bottom small a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}







/* responsive breakpoints */

@media (max-width: 576px){

    /* property location */
    .property-locations {
        text-align: center;
    }
    .property-locations h4{
        padding-top: 1.2rem;
        margin-bottom: 0;
    }

    .property-quote .q-text p {
        width: 100%;

    }


}

@media (max-width: 768px){
    /* property quote */
    .property-quote .q-text{
        text-align: center;
    }
    .property-quote .q-text p{
        margin-left: auto;
        margin-right: auto;
    }
    /* testimonial */
    .testimonials .testimonial-quote p{
        width: 90%;
    }
    /* agent */
    .agent{
        text-align: center;
    }
    .agent .agent-text p{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    /* property location */
    .property-locations .properties{
        margin-top: 1rem;
    }

}
@media (max-width: 992px){
    /* agent */
    .agent .img-agent img {
        height: 45vh;
    }

    /* footer */
     .footer{
            text-align: center;
        }
        .footer .footer-header{
            margin-top: 1.4rem;
        }
}


/* start about page */


/* hero section child */

#child-hero{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../img/bg/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
}

#child-hero .child-hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40vh;
}

#child-hero .child-hero-text h1{
    color: #fff;
    font-weight: 700;
}
/* end of hero child section */
/* start about us section */

#company-story{
    padding: 4rem 0;
}
#company-story .about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

#company-story .about-left > p > small{
    font-weight: 300;
    font-size: .8rem;
    background-color: #ff8c00;
    color: #fff;
    padding: .3rem .5rem;
    border-radius: 10px;
    opacity: .7;
}

#company-story .about-left h2{
    color: var(--dracula-black);
    font-family: var(--noto__font);
    margin-bottom: 2rem;
}

#company-story .about-left .about-body p{
    color: var(--gray__color);
    line-height: 1.6;
}


#company-story .about-left .about-body .features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}


#company-story .about-left .about-body .features span{
    color: var(--dracula-black);
    font-weight: 500;
    font-size: .9rem;
    color: var(--primary__color);
}


/*end about us section */
/* end  about page*/

/* start: contact page */
/* contact-us section */
#contact-us{
    padding: 5rem 0;
    background-color: rgba(223, 223, 223, 0.342);
}

#contact-us .contact-form{
    background-color: #fff;
    padding: 2rem;
    margin-top: 1rem;
}
#contact-us .contact-form p{
    color: var(--dracula-black);
    margin-bottom: 1.5rem;
}

#contact-us .contact-form label.form-label{
    font-size: 1rem;
    color: var(--dracula-black);
}


#contact-us .contact-form btn:focus,
#contact-us .contact-form .form-control:focus{
    box-shadow: none;
    border: 1px solid var(--primary__color);
}

#contact-us .contact-form .form-edit{
    border-radius: 0;
    font-size: .9rem;
    padding: .6rem;
}
#contact-us .contact-form .form-edit::placeholder{
    font-size: .9rem;
}

#contact-us .contact-form textarea.form-edit{
    resize: none;
}
#contact-us .contact-form .contact-btn button{
    text-align: center;
    background-color: var(--primary__color);
    color: #fff;
    width: 100%;
}


#contact-us .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#contact-us .enquiries{
    background-color: #fff;
    padding: 2rem;
    margin-top: 1rem;

}
#contact-us .socials p,
#contact-us .enquiries > p{
    font-weight: 500;
    color: var(--dracula-black);
}


#contact-us .enquiries > div .icon{
    font-size: 2rem;
    color: var(--primary__color);
}

#contact-us .enquiries > div p small{
    color: var(--gray__color);
}


#contact-us .socials{
    background-color: #fff;
    padding: 2rem;
    margin-top: 1rem;
}

#contact-us .socials ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
#contact-us .socials ul li{
    padding-right: 1rem;
}
#contact-us .socials ul li a i{
    padding: .6rem;
    color: #fff;
    background-color: var(--primary__color);
    border: 1px solid var(--primary__color);
    transition: all 0.3s ease;
}
#contact-us .socials ul li a:hover i{
    color: var(--primary__color);
    background-color: #fff;
}
/* end-us section */


/* maps */

#maps > div{
    margin: 0;
    padding: 0;
    border-top: 3px solid var(--primary__color);
}
/* end: contact page */

/*start post types */


/* start : grid search */
#grid-search{
    padding: 3rem 0;
    background-color: rgba(128, 128, 128, 0.158);
}

#grid-search input,
#grid-search select{
    box-shadow: none;
    outline: none;
    border-radius: 0;
}

#grid-search input:focus,
#grid-search select:focus{
    border-color: var(--primary__color);
}
#grid-search select,
#grid-search input::placeholder{
    color: var(--dracula-black);
}
/* end : search */
/* start grid post section */


#grid-listing{
    padding: 4rem 0;
}
#grid-listing .top-listing-d{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#grid-listing .grid-listing-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 1rem 0;
    border-bottom: 2px solid var(--primary__color);
}
#grid-listing .grid-listing-card .img-top{
    overflow: hidden;
    position: relative;
}
#grid-listing .grid-listing-card .img-top img{
    transition: all .4s ease;
    height: 250px;
}
#grid-listing .grid-listing-card:hover .img-top img{
    transform: scale(1.2);
}

#grid-listing .grid-listing-card .img-top span:nth-child(2){
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .3rem .5rem;
    border-radius: 10px;
    background-color: var(--primary__color);
    font-size: .8rem;
    color: #fff;
}
#grid-listing .grid-listing-card .img-top span:nth-child(3){
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .3rem .5rem;
    border-radius: 10px;
    background-color: var(--accent-color);
    font-size: .8rem;
    color: #fff;
}

#grid-listing .grid-listing-card .img-top span:nth-child(4){
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: var(--Mont__serat);
    font-weight: 500;
    cursor: pointer;
}

#grid-listing .grid-listing-card .img-top span:nth-child(5){
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}

#grid-listing .grid-listing-card .img-top span:nth-child(4) small{
    font-weight: normal;
    font-size: .9rem;
}


#grid-listing .grid-listing-card .grid-listing-detail{
    padding: 1rem;
}
#grid-listing .grid-listing-card .grid-listing-detail a h4{
    color: var(--dracula-black);
    font-weight: 600;
    font-family: var(--lora__font);
    font-size: 1.7rem;
    transition: all .4s ease;
}
#grid-listing .grid-listing-card:hover .grid-listing-detail a h4{
    color: var(--primary__color);
}

#grid-listing .grid-listing-card .grid-listing-detail p small{
    color: var(--gray__color);
}

#grid-listing .grid-listing-card .grid-listing-detail p small i{
    color: var(--primary__color);
    padding-right: .3rem;
}

#grid-listing .grid-listing-card .grid-listing-detail .contact-owner{
    padding-top: .7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}

#grid-listing .grid-listing-card .grid-listing-detail .contact-owner a{
    color: var(--dracula-black);
    font-weight: 500;
    font-family: var(--lora__font);
    font-weight: bold;
}

#grid-listing .grid-listing-card .grid-listing-detail .contact-owner a img{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: .5rem;
}

#grid-listing .grid-listing-card .grid-listing-detail .contact-owner a i{
    color: var(--primary__color);
    padding-right: .2rem;
}

#grid-listing .grid-listing-card .grid-listing-detail .contact-owner ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

#grid-listing .grid-listing-card .grid-listing-detail .contact-owner ul li a i{
    margin-left: .5rem;
    font-size: 1.2rem;
}


#grid-listing .grid-listing-card .grid-listing-detail .features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}


#grid-listing .grid-listing-card .grid-listing-detail .features span small{
    color: var(--gray__color);
}



#grid-listing .sidebar-item{
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 1rem 0;
    border-bottom: 2px solid var(--primary__color);
}


#grid-listing .sidebar-item .property-types h5{
    margin-bottom: 1.5rem;
}
#grid-listing .sidebar-item .property-types div a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition:all .3s ease-in;
}
#grid-listing .sidebar-item .property-types div span{
    color: var(--gray__color);
    margin: .5rem;
    font-size: 1rem;
    transition:all .3s ease-in;
}

#grid-listing .sidebar-item .property-types div a:hover span{
    color: var(--primary__color);
}
#grid-listing .sidebar-item .property-types div a.img-listed{
    position: relative;
}
#grid-listing .sidebar-item .property-types > div{
    margin-bottom: .8rem;
}
#grid-listing .sidebar-item .property-types div a img{
    width: 100%;
    height: 250px;
}

#grid-listing .sidebar-item .property-types div a div{
    position: absolute;
    bottom: 1rem;
    left: 1rem;

}
#grid-listing .sidebar-item .property-types div a div span:nth-child(1){
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}

#grid-listing .sidebar-item .property-types div a div span{
    color: #fff;
    font-weight: 500;
}
/* end grid post section */
/*end post types */

/*start agent listing page */

#agent-listing{
    padding: 4rem 0;
}

#agent-listing .agent-card-listing{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 1rem 0;
}

#agent-listing .agent-card-listing .img-card{
    position: relative;
}
#agent-listing .agent-card-listing .company,
#agent-listing .agent-card-listing .img-card img{
    height: 260px;
    width: 100%;
}

#agent-listing .agent-card-listing .company img{
    height: 120px;
    width: 200px;
}

#agent-listing .agent-card-listing .company {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(51, 143, 255, 0.233);
}




#agent-listing .agent-card-listing .img-card span a{
    color: #fff;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--accent-color);
    padding: .3rem .5rem;
    font-size: .8rem;
    border-radius: 10px;
}
#agent-listing .agent-card-listing .agent-details{
    padding: 1rem;
}
#agent-listing .agent-card-listing .agent-details p.name{
    font-weight: 700;
    font-family: var(--lora__font);
    margin-bottom: .5rem;
    color: var(--gray__color);
}

#agent-listing .agent-card-listing .agent-details a:nth-child(2){
    color: var(--dracula-black);
    font-weight: 600;
    font-size: 1.2rem;
    transition: all .4s ease;
}

#agent-listing .agent-card-listing:hover .agent-details a:nth-child(2){
    color: var(--primary__color);
}

#agent-listing .agent-card-listing .agent-details > div > p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

#agent-listing .agent-card-listing .agent-details > div > p > span{
    color: var(--gray__color);
    font-size: .9rem;
    font-family: var(--Mont__serat);
    font-weight: 400;
}
#agent-listing .agent-card-listing .agent-details > div > p > span:nth-child(2){
    font-weight: 500;
    font-family: var(--Poppinss);
}


#agent-listing .agent-card-listing .agent-details > div > span > a{
    color: var(--primary__color);
    background-color: #fff;
    padding: .3rem .8rem;
    border: 1px solid var(--primary__color);
    transition: all .4s ease;
    display: block;
    text-align: center;
}


#agent-listing .agent-card-listing .agent-details > div > span > a:hover{
    background: #fff;
    color: #fff;
    background-color: var(--primary__color);
}
#agent-listing .agent-card-listing .agent-details a.company-name{
    color: var(--dracula-black);
    font-weight: 600;
    font-size: 1.2rem;
}
#agent-listing .agent-card-listing:hover .agent-details a.company-name{
    color: var(--primary__color);
}

#agent-listing .agent-card-listing .agent-details > span > small{
    color: var(--gray__color);
    font-size: .9rem;
}

/*end agent listing page */


/* start: single listing page */

/* start: single listing section */

#single-listing{
    padding:0 0 4rem 0;

}

#single-listing .top-o{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../img/bg/ambrose-chua-zxbNbuncq1g-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:  7rem 0 3rem 0;
    text-align: center;
    background-attachment: fixed;
}

#single-listing .top-o h2{
    color:  #fff;
    font-weight: 700;
    font-family: var(--lora__font);
}

#single-listing .top-o p{
    color: #fff;
}
#single-listing .top-o p i{
    color: var(--primary__color);
    padding-right: .2rem;
}

#single-listing .top-elements{
    margin-top: 3rem;
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.075);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary__color);
}
#single-listing .top-elements > span > small > a,
#single-listing .top-elements > span > small {
    color: var(--dracula-black);
    transition:  all .4s ease;
}

#single-listing .top-elements > span > small > a:hover{
    color: var(--primary__color);
}

#single-listing .top-elements > span > small > a > i{
    margin: 0 .2rem 0 .5rem;
}
#single-listing .property-main-img {
    position: relative;
}

#single-listing .property-main-img .c-name{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 3rem;
        color: #fff;
        opacity: 40%;
}

#single-listing .property-main-img > div > img{
    height: 60vh;
}

#single-listing .listed-by h5{
    font-family: var(--lora__font);
    color: var(--dracula-black);
}

#single-listing .listed-by{
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.075);
    border-bottom: 2px solid var(--primary__color);
}

#single-listing .listed-by .form-edit:focus{
    box-shadow: none;
    border-color: var(--primary__color);
}
#single-listing .listed-by .form-edit{
    border-radius: 0;
}

#single-listing .listed-by textarea.form-edit{
    resize: none;
}

#single-listing .listed-by .contact-btn .btn{
    background: var(--primary__color);
    color: #fff;
    width: 100%;
    border-radius: 0;
    transform: all .4s ease;
}
#single-listing .listed-by .contact-btn .btn:hover{
    background-color: var(--accent-color);
}


#single-listing .listed-by .lister-img img{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    margin-bottom: .5rem;
    border: 2px solid var(--primary__color);
}
#single-listing .listed-by p.lister-name a{
    font-weight: 500;
}
#single-listing .listed-by p a{
    color: var(--dracula-black);
    transition: all .4s ease;
}

#single-listing .listed-by p a:hover{
    color: var(--primary__color);
}


#single-listing .listed-by small i{
    color: var(--primary__color);
}

#single-listing .main-text .top-main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    height: auto;
}

#single-listing .main-text .top-main .price{
    font-weight: 700;
    color: var(--primary__color);
}
#single-listing .main-text .top-main .price small{
    font-weight: 300;
    font-size: .9rem;
    color: var(--gray__color);
}
#single-listing .main-text .top-main .price span{
    color: var(--gray__color);
    font-size: .9rem;
    font-weight: 500;
}
#single-listing .main-text .top-main  p span span{
    color: #fff;
    padding: .3rem 1rem;
    line-height: 2.3rem;
    font-size: .9rem;
}

#single-listing .main-text .top-main  p span span:nth-child(1){
    background-color: var(--accent-color);
    margin-right: .5rem;
}
#single-listing .main-text .top-main  p span span:nth-child(2){
    background-color: var(--primary__color);
}

#single-listing .main-text .top-main  p  small{
   font-size: .8rem;
   font-weight: 500;
   color: var(--gray__color);
   text-align: end;
}

#single-listing .main-text .top-details{
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.075);
    border-bottom: 2px solid var(--primary__color);
    margin-bottom: 1.5rem;
}
#single-listing .main-text .top-details h5{
    color: var(--dracula-black);
}

#single-listing .main-text .top-details .overview-list > div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#single-listing .main-text .top-details .overview-list p{
    font-weight: 500;
    color: var(--dracula-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#single-listing .main-text .top-details .overview-list p span:nth-child(1){
    font-weight: 400;
}


#single-listing .main-text .top-details .overview-list p span:nth-child(2){
    font-weight: 400;
    color: var(--gray__color);
}

#single-listing .main-text .top-details .overview-list p i{
    color: var(--primary__color);
}
#single-listing .main-text .top-details .desription{
    line-height: 1.5;
    color: var(--gray__color);
}







/* start: single listing section */

/* end: single listing page */

/* start company and agent */

#company-agent{
    padding: 4rem 0;
    background-color: rgba(128, 128, 128, 0.075);
}

#company-agent .agent-bg{
    background: #fff;
    padding: 1rem;
}
#company-agent .img-agent-card > div{
    position: relative;
}

#company-agent .img-agent-card > div > div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    background-color: rgba(45, 52, 54, 0.184);
}
#company-agent .img-agent-card > div > div span{
    padding:  0 1rem;
}

#company-agent .img-agent-card > div > div span a{
    color: #fff;
    transition: all .4s ease;
}
#company-agent .img-agent-card > div > div span a:hover{
    color: var(--primary__color);
}

#company-agent .img-agent-card img{
    height: 280px;
    width: 100%;
}


#company-agent .details-agent-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

#company-agent .details-agent-card  ul{
    padding: 0;
}


#company-agent .details-agent-card  ul li{
    margin-bottom: 1.5rem;
}

#company-agent .details-agent-card  ul li:nth-child(1) a{
    background: var(--primary__color);
    color: #fff;
    padding: .3rem 1rem;
    border-radius: 4px;
}

#company-agent .details-agent-card  ul li:nth-child(2) a{
    background: var(--accent-color);
    color: #fff;
    padding: .3rem 1rem;
    border-radius: 4px;
}

#company-agent .details-agent-card  ul li:nth-child(3) a{
    border: 1px solid var(--primary__color);
    color: var(--primary__color);
    padding: .3rem 1rem;
    border-radius: 4px;
}

#company-agent .details-agent-card h4{
    font-weight: 700;
    color: var(--dracula-black);
    font-family: var(--lora__font);
}

#company-agent .details-agent-card p small,
#company-agent .details-agent-card p small a{
    color: var(--gray__color);
}

#company-agent .agent-desc-details{
    border-bottom: 2px solid var(--primary__color);
}
#company-agent .agent-desc-details h4{
    font-weight: 700;
    font-family: var(--lora__font);
    color: var(--dracula-black);
}

#company-agent .agent-desc-details p{
    padding-top: 1rem;
    color: var(--gray__color);
    line-height: 1.6;
}


#company-agent .agent-desc-details{
    padding: 1.5rem;
}

#company-agent .agent-search{
    padding: 1rem;
    background-color: #fff;
    border-bottom: 2px solid var(--primary__color);
}
#company-agent .agent-search h4{
    font-weight: 700;
    font-family: var(--lora__font);
    color: var(--dracula-black);
}
#company-agent  .form-edit:focus:not(.btn){
    box-shadow: none;
    border-color: var(--primary__color);
}

#company-agent .form-edit::placeholder{
    color:var(--dracula-black);
}
#company-agent .form-edit{
    border-radius: 0;
    resize: none;
}

#company-agent .btn{
    background-color: var(--accent-color);
    color: white;
    border-radius: 4px;
}
/* end company and agent */

/* start pagination */
.mypagination{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mypagination ul{
    display: flex;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
}

.mypagination ul li{
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--primary__color);
}

.mypagination ul li.numb{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0 3px;
}

.mypagination ul li.dots{
    font-size: 22px;
    cursor: default;
}
.mypagination ul li.myBtn{
    padding: 0 20px;
}

.mypagination ul li.prev i{
    padding-right: .3rem;
}
.mypagination ul li.next i{
    padding-left: .3rem;
}

.mypagination ul li.prev{
    border-radius: 25px 5px 5px 25px;
}

.mypagination ul li.next{
    border-radius: 5px 25px 25px 5px;
}
.mypagination ul li.numb:hover,
.mypagination ul li.active
{
    color: #fff;
    background-color: var(--primary__color);
}

/* end pagination */

/*start: new-listing */
#shared-style{
	padding: 4rem 0;
}

#shared-style .shared-box{
	background-color: rgba(128, 128, 128, 0.212);
	padding: 1.5rem;
}

#shared-style .shared-box .essential p{
	background-color: var(--accent-color);
	padding: 1rem;
	font-size: .9rem;
	border-radius: 5px;
	font-weight: 600;
	color: #fff;
}

#shared-style .shared-box h4{
	font-weight: 600;
	color: var(--dracula-black);
}
#profile .profile-box input:focus,
#profile .profile-box  select:focus,
#shared-style .shared-box textarea:focus,
#shared-style .shared-box input:focus,
#shared-style .shared-box select:focus{
	box-shadow: none;
	border-color: var(--primary__color);
}



#shared-style .shared-box input[type="file"]{
    display: none;
}
#shared-style .shared-box .img-upload label{
    display: block;
    position: relative;
    background-color: var(--primary__color);
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}
#shared-style .shared-box .img-upload{
	padding: 2rem 1rem;
}
#shared-style .shared-box .img-upload p{
    text-align: center;
    margin: 20px 0 30px 0;
}
#shared-style .shared-box #images{
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
#shared-style .shared-box figure{
    width: 45%;
}
#shared-style .shared-box img{
    width: 100%;
	height: 250px;
}

#shared-style .shared-box figcaption{
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
}

#profile .profile-box button,
#shared-style .shared-box .submit-link button{
	outline: none;
	background-color: var(--primary__color);
	border:1px solid var(--primary__color) ;
	color: #ffff;
	font-weight: 600;
	padding: .5rem 1rem;
	border-radius: 5px;
}




/*end: new-listing */
